<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  	<xacro:macro name="mpu6050_imu" params="name parent">
	  	<joint name="base2mpu6050" type="fixed">
			<parent link="${parent}"></parent>
			<child link="${name}_mpu6050_link"></child>
			<origin xyz="0 0 -0.0155" rpy="0 0 0"></origin> 
		</joint>
	  	<link name="${name}_mpu6050_link">
			<collision>
				<geometry>
	          		<box size="0.016 0.021 0.003"/>
		 		</geometry>
		 	</collision>
			<visual>
				<geometry>
	       			<box size="0.016 0.021 0.003"/>
	  			</geometry>
				<material name="white"></material></visual>
			<inertial>
				<mass value="0.004"></mass>
				<inertia ixx="0.0000001" ixy="0" ixz="0" iyy="0.0000001" iyz="0" izz="0.0000001"/>
				</inertial>
		</link>
    </xacro:macro>
</robot>